---
import Hero from "../components/Hero.astro";
import Base from "../layouts/Base.astro";
import Team from "../components/Team.astro";
---

<Base title="Home Page">
  <Hero />
  <h1>Lomme was hier</h1>
  <h1>Wander is hier</h1>
  <h1>Iebe is hier</h1>
  <h1>Mohamed is hier</h1>
</Base>

<Base title="Team">
  <Team />
</Base>
